h1 {
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

fieldset {
  border: none;
  padding: 0;
}
/*Design css*/

.hidden {
  display: none;
}

body {
  background-color: rgb(246, 236, 255);
}

.box {
  overflow: hidden;
  background-color: white;
  border-radius: 10px;
  width: 800px;
  margin: 30px auto;
  padding: 20 0px;
}

.box > div {
  width: fit-content;
  margin: 15px 0 15px 15px;
}
.survey-title-header {
  font-size: 28px;
  border-top: 10px solid purple;
  background-color: white;
  padding: 15px 15px 0px 15px;
}

.survey-title-description {
  padding: 0 15px;
}

.survey-question {
  padding: 10px 15px;
}

label.survey-question {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.input-text {
  width: 300px;
  height: 40px;
  border-bottom: 1px solid rgb(182, 182, 182);
}

.input-text-long {
  width: 700px;
  height: 40px;
  border-bottom: 1px solid rgb(182, 182, 182);
}

.select-box {
  display: block;
  border: 1px solid rgb(182, 182, 182);
  color: rgb(134, 134, 134);
  width: 250px;
  height: 50px;
  padding: 5px;
}

.survey-label {
  font-size: small;
  color: slategray;
}

.input-date,
.input-time {
  display: block;
  height: 50px;
  font-size: 18px;
}

.bottom-buttons {
  position: relative;
  width: 800px;
  margin: 15px auto;
}

.submit-button {
  color: white;
  background-color: rgb(62, 9, 97);
  padding: 8px 25px;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}

.submit-button:hover {
  background-color: rgb(91, 212, 196);
}

.reset-button {
  position: absolute;
  color: rgb(62, 9, 97);
  background-color: transparent;
  font-weight: 400;
  padding: 8px 25px;
  right: 0;
  transition: font-weight 0.2s ease-in-out;
}

.reset-button:hover {
  font-weight: 800;
}
